<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h1>Despre UTM</h1>
        </div>

        <p>
            Universitatea tehnica a moldovei a fost fondata in anul 1964, cu denumirea initiala "institutul politehnic din chisinau", in baza unor specialitati ingineresti si economice transferate de la universitatea de stat din moldova. In primul an de studii (1964 - 1965) universitatea avea 5140 de studenti (dintre care 2085 la sectia de zi), grupati la 5 facultati: electrotehnica, mecanica, tehnologie, constructii, economie. Corpul didactic numara 278 profesori, dintre care numai 36 aveau grade didactice si titluri stiintifice.
            In anii urmatori universitatea a crescut atit cantitativ, cit si calitativ, a devenit un mare centru de invatamint, stiintific si de cultura...
        </p>
        <p>
            In prezent, universitatea tehnica a moldovei are un contingent de cca. 18340 de studenti (dintre care 12910 la sectia de zi), care isi fac studiile la 80 de specialitati si specializari, in cadrul a 10 facultati: "energetica", "inginerie si management in constructia de masini", "inginerie si management in mecanica", "calculatoare, informatica si microelectronica", "radioelectronica si telecomunicatii", "tehnologie si management in industria alimentara", "industrie usoara", "cadastru, geodezie si constructii", "urbanism si arhitectura", "inginerie economica si business".
            La utm este organizat si invatamintul postuniversitar (430 de masteranzi si 134 de doctoranzi), functioneaza cursuri de reciclare si de perfectionare a cadrelor.
            In cei 44 de ani de existenta au fost pregatiti peste 64900 de specialisti.
            In cadrul utm functioneaza o biblioteca tehnico-stiintifica cu sali de lectura, cabinete de proiectare, centre informatice.
        </p>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h1>Despre Informatica Aplicata</h1>
        </div>
        <p>
            Catedra “Informatica Aplicata” a luat fiinta in anul 1989 ca o componenta didactica si stiintifica a Facultatii „Calculatoare, Informatica si Microelectronica”, având atunci denumirea „Matematica de Calcul si Programare”. Datorita eforturilor depuse de fondatorul si seful catedrei de atunci, profesorul universitar Anatol Popescu, in anul 1995 a fost initiata pentru prima data in Republica Moldova instruirea la specialitatea 1851.01 „Informatica si Limbi Moderne Aplicate”. In acesti ani au facut studii si au absolvit circa 700 de studenti si masteranzi care au obtinut calificarea de licentiat si magistru in Informatica si care activeaza in diferite domenii ale economiei nationale. Intre anii 2000 – 2007 catedra a purtat denumirea “Informatica si Limbi Moderne Aplicate”, având-ul ca sef de catedra pe conferentiarul universitar Liviu Carcea.
            In anii 2001 si 2006 specialitatea sus numita a fost acreditata de catre Consiliul National de Evaluare Academica si Acreditare de pe lânga Guvernul Republicii Moldova.
            Din anul 2006 catedra este responsabila de organizarea instruirii specialistilor cu studii universitare (ciclul I Licenta si ciclul II Masterat) la specialitatea 444.3 „Informatica Aplicata”.
            Din martie 2007 catedra poarta denumirea actuala si este condusa de catre conf. univ. dr. Vasile Moraru. Incepând cu anul universitar 2010-2011 catedra asigura instruirea si la specialitatea 444.2 Management Informational, nivelul licenta.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Activitatea didactico-metodica</h1>
        </div>
        <p>
            Specialitatea 444.3 "Informatica Aplicata" are ca scop de a forma specialisti in procesarea limbajului natural sau tratarea automata a limbajului natural, domeniu ingineresc modern, care a intrat deja in faza aplicatiilor industriale si care necesita cunostinte serioase in informatica, pe de o parte si in lingvistica, pe de alta parte. Materiile predate de catre profesorii catedrei Informatica Aplicata constituie o gama importanta pentru aceste doua ramuri stiintifice. Printre acestea pot fi enumerate unele fundamentale, cu caracter general, cum sunt - Informatica, Programarea calculatoarelor, Matematica lingvistica, Programarea in limbajul C, Structuri de date si algoritmi, Ingineria calculatoarelor, Modelarea sistemelor, Baze de date, Limba engleza, Limba franceza, Limba germana, Cultura si civilizatia anglofona si francofona, Lingvistica generala. Altele din contra, poarta un caracter particular cu o orientare mult mai ingusta - Procesarea limbajului natural, Sistemele de inteligenta artificiala, Teoria si tehnica traducerii, Gramatica transformationala, Contextul si baze de cunostinte, WEB design-ul, Corespondenta uzuala si de afaceri, Cultura bussinesului. Involuntar, rezultatul este dublu. Programul specialitatii "Informatica Aplicata" (autorizat in cadrul Facultatii de Calculatoare, Informatica, si Microelectronica a U.T.M.) asigura o formare teoretica si practica la cel mai inalt nivel, oferind posibilitate specialistului de a activa in doua domenii extrem de solicitate la ora actuala:
            <ol>
                <li>Programator cu cunoasterea a doua limbi straine. (Specializare care nu ia neaparat in calcul aplicarea informaticii asupra limbilor)</li>
                <li>Informatician - lingvist, specialist ce se ocupa de aplicarea informaticii asupra limbajului natural si de inteligenta artificiala. (Aceasta specializare manifesta impactul hotarator al noilor tehnologii asupra educatiei, medicinii, roboticii, industriei constructoare de masini si chiar a celei aerospatiale.)</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    Limbile straine sunt predate la nivelul institutiilor filologice, fiind urmarite aceleasi obiective, in plan lexical, conversational si gramatical. O atentie deosebita se ofera gramaticilor structurale si generativ transformationale, precum si diverselor teorii lingvistice.
                    Specialitatea 444.2 “Management Informational” asigura pregatirea teoretica si aplicativa a specialistilor in domeniul informaticii in scopul realizarii obiectivelor de gestiune a informatiei. Pregatirea se realizeaza in conformitate cu cerintele de stat fata de competentele profesionale si minimumul de continut pentru activitatea profesionala in luarea deciziilor manageriale. Programa prevede insusirea ciclului de discipline fundamentale si de specialitate: Matematici speciale si computationale, Programarea calculatoarelor, Procesarea informatiei nestructurate, Cercetari operationale, Managementul bazelor de date, Sisteme de inteligenta artificiala, Managementul proiectelor, Negociere si Managementul conflictelor, Informatica de gestiune, Aplicatii Web, Securitatea informationala, Modelarea sistemelor informationale s.a. Fiecare an de studii se incheie cu prezentarea unui proiect anual de cercetare. Programa contine cunostinte teoretice si practice, care vor permite viitorilor absolventi sa fie in masura sa le aplice cu incredere in organizatiile de toate tipurile.
                </div>
            </div>
        </p>
    </div>
</div>