@{
    ViewBag.Title = "Acasa";
}


<style>
        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #40d47e;
            border-bottom: 16px solid #e67e22;
            border-left: 16px solid #c0392b;
            border-right: 16px solid #2c3e50;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 3s linear infinite;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

<div class="loader" style="width:30px;height:30px"></div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt"></span><b>News</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="demo3" >
                            <li class="news-item">
                                Curabitur porttitor ante eget hendrerit adipiscing. Maecenas at magna accumsan,
                                rhoncus neque id, fringilla dolor. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Curabitur porttitor ante eget hendrerit adipiscing. Maecenas at magna accumsan,
                                rhoncus neque id, fringilla dolor. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Praesent ornare nisl lorem, ut condimentum lectus gravida ut. Ut velit nunc, vehicula
                                volutpat laoreet vel, consequat eu mauris. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Nunc ultrices tortor eu massa placerat posuere. Vivamus viverra sagittis nunc. Nunc
                                et imperdiet magna. Mauris sed eros nulla. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Morbi sodales tellus sit amet leo congue bibendum. Ut non mauris eu neque fermentum
                                pharetra. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                In pharetra suscipit orci sed viverra. Praesent at sollicitudin tortor, id sagittis
                                magna. Fusce massa sem, bibendum id. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Maecenas nec ligula sed est suscipit aliquet sed eget ipsum. Suspendisse id auctor
                                nibh. Ut porttitor volutpat augue, non sodales odio dignissi id. <a href="#">Read more...</a>
                            </li>
                            <li class="news-item">
                                Onec bibendum consectetur diam, nec euismod urna venenatis eget. Cras consequat
                                convallis leo. <a href="#">Read more...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>Despre Informatica Aplicata</h1>
        </div>
        <p align="justify">
            Catedra “Informatica Aplicata” a luat fiinta in anul 1989 ca o componenta didactica si stiintifica a Facultatii „Calculatoare, Informatica si Microelectronica”, având atunci denumirea „Matematica de Calcul si Programare”. Datorita eforturilor depuse de fondatorul si seful catedrei de atunci, profesorul universitar Anatol Popescu, in anul 1995 a fost initiata pentru prima data in Republica Moldova instruirea la specialitatea 1851.01 „Informatica si Limbi Moderne Aplicate”. In acesti ani au facut studii si au absolvit circa 700 de studenti si masteranzi care au obtinut calificarea de licentiat si magistru in Informatica si care activeaza in diferite domenii ale economiei nationale. Intre anii 2000 – 2007 catedra a purtat denumirea “Informatica si Limbi Moderne Aplicate”, având-ul ca sef de catedra pe conferentiarul universitar Liviu Carcea.
            In anii 2001 si 2006 specialitatea sus numita a fost acreditata de catre Consiliul National de Evaluare Academica si Acreditare de pe lânga Guvernul Republicii Moldova.
            Din anul 2006 catedra este responsabila de organizarea instruirii specialistilor cu studii universitare (ciclul I Licenta si ciclul II Masterat) la specialitatea 444.3 „Informatica Aplicata”.
            Din martie 2007 catedra poarta denumirea actuala si este condusa de catre conf. univ. dr. Vasile Moraru. Incepând cu anul universitar 2010-2011 catedra asigura instruirea si la specialitatea 444.2 Management Informational, nivelul licenta.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Activitatea didactico-metodica</h1>
        </div>
        <p align="justify">
            Specialitatea 444.3 "Informatica Aplicata" are ca scop de a forma specialisti in procesarea limbajului natural sau tratarea automata a limbajului natural, domeniu ingineresc modern, care a intrat deja in faza aplicatiilor industriale si care necesita cunostinte serioase in informatica, pe de o parte si in lingvistica, pe de alta parte. Materiile predate de catre profesorii catedrei Informatica Aplicata constituie o gama importanta pentru aceste doua ramuri stiintifice. Printre acestea pot fi enumerate unele fundamentale, cu caracter general, cum sunt - Informatica, Programarea calculatoarelor, Matematica lingvistica, Programarea in limbajul C, Structuri de date si algoritmi, Ingineria calculatoarelor, Modelarea sistemelor, Baze de date, Limba engleza, Limba franceza, Limba germana, Cultura si civilizatia anglofona si francofona, Lingvistica generala. Altele din contra, poarta un caracter particular cu o orientare mult mai ingusta - Procesarea limbajului natural, Sistemele de inteligenta artificiala, Teoria si tehnica traducerii, Gramatica transformationala, Contextul si baze de cunostinte, WEB design-ul, Corespondenta uzuala si de afaceri, Cultura bussinesului. Involuntar, rezultatul este dublu. Programul specialitatii "Informatica Aplicata" (autorizat in cadrul Facultatii de Calculatoare, Informatica, si Microelectronica a U.T.M.) asigura o formare teoretica si practica la cel mai inalt nivel, oferind posibilitate specialistului de a activa in doua domenii extrem de solicitate la ora actuala:
            <ol>
                <li>Programator cu cunoasterea a doua limbi straine. (Specializare care nu ia neaparat in calcul aplicarea informaticii asupra limbilor)</li>
                <li>Informatician - lingvist, specialist ce se ocupa de aplicarea informaticii asupra limbajului natural si de inteligenta artificiala. (Aceasta specializare manifesta impactul hotarator al noilor tehnologii asupra educatiei, medicinii, roboticii, industriei constructoare de masini si chiar a celei aerospatiale.)</li>
            </ol>
            <div class="panel panel-default">
                <div class="panel-body">
                    Limbile straine sunt predate la nivelul institutiilor filologice, fiind urmarite aceleasi obiective, in plan lexical, conversational si gramatical. O atentie deosebita se ofera gramaticilor structurale si generativ transformationale, precum si diverselor teorii lingvistice.
                    Specialitatea 444.2 “Management Informational” asigura pregatirea teoretica si aplicativa a specialistilor in domeniul informaticii in scopul realizarii obiectivelor de gestiune a informatiei. Pregatirea se realizeaza in conformitate cu cerintele de stat fata de competentele profesionale si minimumul de continut pentru activitatea profesionala in luarea deciziilor manageriale. Programa prevede insusirea ciclului de discipline fundamentale si de specialitate: Matematici speciale si computationale, Programarea calculatoarelor, Procesarea informatiei nestructurate, Cercetari operationale, Managementul bazelor de date, Sisteme de inteligenta artificiala, Managementul proiectelor, Negociere si Managementul conflictelor, Informatica de gestiune, Aplicatii Web, Securitatea informationala, Modelarea sistemelor informationale s.a. Fiecare an de studii se incheie cu prezentarea unui proiect anual de cercetare. Programa contine cunostinte teoretice si practice, care vor permite viitorilor absolventi sa fie in masura sa le aplice cu incredere in organizatiile de toate tipurile.
                </div>
            </div>
        </p>
    </div>
</div>
<style>
    .glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}
</style>
@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.bootstrap.newsbox.min.js"></script>
    <script>
        $(function () {
            $("#demo3").bootstrapNews({
                newsPerPage: 3,
                autoplay: false,

                onToDo: function () {
                    //console.log(this);
                }
            });
        });
    </script>
}