<div class="container">
    <div class="page-header">
        <h1 id="timeline">Scurt istoric al catedrei IA</h1>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Fondarea UTM</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Universitatea tehnica a moldovei a fost fondata in anul 1964, cu denumirea initiala "institutul politehnic din chisinau", in baza unor specialitati ingineresti si economice transferate de la universitatea de stat din moldova.
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Primul an de studii</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        In primul an de studii (1964 - 1965) universitatea avea 5140 de studenti (dintre care 2085 la sectia de zi), grupati la 5 facultati: electrotehnica, mecanica, tehnologie, constructii, economie. Corpul didactic numara 278 profesori, dintre care numai 36 aveau grade didactice si titluri stiintifice. In anii urmatori universitatea a crescut atit cantitativ, cit si calitativ, a devenit un mare centru de invatamint, stiintific si de cultura...
                    </p>
                   
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Fondarea catedrei</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Catedra “Informatica Aplicata” a luat fiinta in anul 1989 ca o componenta didactica si stiintifica a Facultatii „Calculatoare, Informatica si Microelectronica”, având atunci denumirea „Matematica de Calcul si Programare”. Datorita eforturilor depuse de fondatorul si seful catedrei de atunci, profesorul universitar Anatol Popescu
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Infiintarea specialitatii</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        in anul 1995 a fost initiata pentru prima data in Republica Moldova instruirea la specialitatea 1851.01 „Informatica si Limbi Moderne Aplicate”. In acesti ani au facut studii si au absolvit circa 700 de studenti si masteranzi care au obtinut calificarea de licentiat si magistru in Informatica si care activeaza in diferite domenii ale economiei nationale. 
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Catedra: Informatica si Limbi Moderne Aplicate</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Intre anii 2000 – 2007 catedra a purtat denumirea “Informatica si Limbi Moderne Aplicate”, având-ul ca sef de catedra pe conferentiarul universitar Liviu Carcea.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Acreditarea specialitatii</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        In anii 2001 si 2006 specialitatea sus numita a fost acreditata de catre Consiliul National de Evaluare Academica si Acreditare de pe lânga Guvernul Republicii Moldova.
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Instruirea specialistilor</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Din anul 2006 catedra este responsabila de organizarea instruirii specialistilor cu studii universitare (ciclul I Licenta si ciclul II Masterat) la specialitatea 444.3 „Informatica Aplicata”.
                    </p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Catedra: Informatica Aplicata</h4>
                </div>
                <div class="timeline-body">
                    <p>
                        Din martie 2007 catedra poarta denumirea actuala si este condusa de catre conf. univ. dr. Vasile Moraru. Incepând cu anul universitar 2010-2011 catedra asigura instruirea si la specialitatea 444.2 Management Informational, nivelul licenta.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>