<ul class="nav navbar-right navbar-nav row">
    @{ 
        if (Request.Cookies[FormsAuthentication.FormsCookieName]!=null)
        {
            HttpCookie authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];
            FormsAuthenticationTicket authTicket = FormsAuthentication.Decrypt(authCookie.Value);
            <li class="col-xs-6 text-center"><a href="@Url.Action("Index", "Account", null)" style="padding:10px"><img class="img-circle" src="@Url.Content("~/UserStore/"+DBInstance.Current.Users.GetUserAvatar(authTicket.Name))" width="30" height="30" /></a></li>
            <li class="col-xs-6 text-center"><a href="@Url.Action("Logout","Account",null)">Logout</a></li>
            HttpContext.Current.Request.Cookies.Remove(FormsAuthentication.FormsCookieName);
        }
        else
        {
            <li class="col-xs-12 text-center"><a href="#" data-target="#login-modal" data-toggle="modal" style="padding:10px"><img class="img-circle" src="~/UserStore/male.png" width="30" height="30" /></a></li>
        }
    }
</ul>
<script type="text/javascript">
</script>

